* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #0D1117;
  color: #C9D1D9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  background-color: #161B22;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.discord-login-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #5865F2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}


.navbar {
  background-color: #161B22;
  color: #C9D1D9;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  text-align: center;
  padding-top: 60px;
}

.verify-btn {
  background-color: #238636;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.discord-login-btn, .verify-btn {
  transition: background-color 0.3s, transform 0.2s;
}

.discord-login-btn:hover, .verify-btn:hover {
  background-color: darken(#5865F2, 10%);
  transform: translateY(-2px);
}

.verify-btn:hover {
  background-color: darken(#238636, 10%);
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.logo-container img {
  height: 100px;
  width: auto;
}

.navbar {
  padding-left: 70px;
}

.login-container h1 {
  color: #C9D1D9;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
    gap: 5px;
  }

  .discord-login-btn, .forum-btn {
    width: 100%;
  }
}


.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.forum-btn:hover {
  background-color: #494c49;
  transform: translateY(-2px);
}


.forum-btn {
  background-color: #494c49;
  transform: translateY(-2px);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.site-footer {
  background-color: #0D1117;
  color: #C9D1D9;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  border-top: 1px solid #30363d;
}

.footer-content {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .site-footer {
      font-size: 14px;
  }
  
  .footer-content {
      padding: 0 10px;
  }
}
